TZ=Asia/Seoul
DOMAIN=localhost
PROXY_HTTP_PORT=80
# 충돌 방지: 각자 바꿔써도 됨
MYSQL_HOST_PORT=3307

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://keycloak-db:5432/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak123
KC_HOSTNAME=keycloak.${DOMAIN}

# Nextcloud
NEXTCLOUD_DB_PASS=ncpass123
NEXTCLOUD_HOST=nc.${DOMAIN}

# OnlyOffice
ONLYOFFICE_HOST=onlyoffice.${DOMAIN}
