:8080 {
    log {
        level DEBUG
        output stdout
      }
	encode zstd gzip
	# /uploads 정적 파일
	handle_path /uploads/* {
		root * /uploads
		file_server
	}

	# 나머지는 포털로 프록시
	handle {
		reverse_proxy portal:8081
	}
}
