.Notice_w_box {
	max-width: 900px;
}

.Notice_w {
	width: 900px;
}

.Notice_titleline {
	margin-bottom: 10px;
	display: flex;
}

#Notice_title {
	text-align:center;
	padding:5px;
	width: 70px;
	font-weight: bold;
}

#Notice_importance{
	padding:5px;
	font-size: 14px;
	text-align: center;
	width: 70px;
}

#Notice_typetext {
	height: 30px;
	width: 720px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.fileupload_line {
	display: flex;
}

#file_upload {
	text-align:center;
	padding:5px;
	width: 70px;
	font-weight: bold;
}

.upload_btn {
	display: flex;
	text-align:center;
	width: 215px;
	justify-content: space-around;
}

#My_PC{
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fff;
	color: #222;
}

#FileCapacity_msg {
	font-size: 12px;
	width: 600px;
	color: #8a8686;
	display: flex;
	justify-content: flex-end;
}

#FileCapacity_msg p {
	text-align: center;
	padding: 5px;
	margin: 0;
}

.upload_box {
	display: flex;
	justify-content: flex-end;
}

#upload_area {
	margin: 10px 0;
	min-height: 100px;
	width:732px;
	text-align: center;
	border: 2px dashed #ccc;
	border-radius: 6px;
}

.upload_area.dragover {
	border-color: #999;
	background-color: #f0f0f0;
}

#upload_msg {
	display:flex;
	justify-content:space-around;
	align-items:center;
	height: 100px;
	color: #888;
	font-size: 14px;
	margin: 0;
}

.file_list {
	height: 100px;
	width: 732px;
	border-collapse: collapse;
	display: none;
}

#fileupload_box {
	height: 40px;
	border-bottom: 1px solid #ccc;
}

.file_list th{
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding: 6px;
	font-size: 14px;
}

.file_list th:last-child {
	width: 100px;
}

.file_list td:first-child {
	cursor: pointer;
	width: 30px;
}

#UI_editorBox {
	background: #efefef;
	display: flex;
	border: 1px solid #ccc;
	height: 40px;
}

.font_size {
	background:#efefef;
	height: 30px;
	width: 195px;
	padding:5px;
	border-right: 1px solid #ccc;
	align-content: space-between;
}

#font_box {
	margin-left: 5px;
	background: #efefef;
	border: none;
}

.background_fff {
	background: #fff;
}

#font-size {
	border: none;
	background: #efefef;
}

#font-size:checked {
	border: none;
	background: #fff;
}

#font_utility {
	text-align:center;
	width: 115px;
	background: #efefef;
	border-right: 1px solid #ccc;
	padding: 5px;
}

#font_utility button {
	border: none;
}

#font_utility button:hover,
#font_utility button.active {
	font-weight:bold;
	background: #fff;
	border: 2px solid #222;
	border-radius: 3px;
}

#font_color {
	width: 70px;
	background: #efefef;
	border-right: 1px solid #ccc;
	padding: 5px;
	display: flex;
	justify-content:space-around;
}

#font_color button {
	border: none;
	position: absolute;
	top: 1px; 
	right: -12px;
}

.color-picker {
	position: relative;
}

#bgColorInput {
	width: 15px;
	height: 15px;
	border: none;
	display:block;
	position: absolute;
	top: 18px;
	left: -6px;
}

#bgColorInput:hover {
	background: #fff;
	font-weight:bold;
	border: 2px solid #222;
}

#textColorInput {
	width: 15px;
	height: 15px;
	border: none;
	display:block;
	position: absolute;
	top: 18px;
	left: -8px;
}

#textColorInput:hover {
	background: #fff;
	font-weight:bold;
	border: 2px solid #222;
} 

#Sentence_Utility {
	text-align:center;
	width: 150px;
	position: relative;
	background: #efefef;
	border-right: 1px solid #ccc;
	padding: 5px;
}

#Sentence_Utility button {
	border: none;
}

#Sentence_Utility button:hover,
#Sentence_Utility button.active {
	font-weight:bold;
	background: #fff;
	border: 2px solid #222;
	border-radius: 3px;
}

#line_graph {
	text-align:center;
	width: 80px;
	background: #efefef;
	border-right: 1px solid #ccc;
	padding: 5px;
}

#line_graph button {
	border: none;
}

#line_graph button:hover,
#line_graph button.active {
	border: 2px solid #222;
	background: #fff;
}

#url_imgs {
	border-right: 1px solid #ccc;
	background: #efefef;
	width: 70px;
	padding-top: 6px;
	text-align: center;
}

#url_imgs button {
	border: none;
}

#imageInput {
	display: none !important;
}

#alignMenu {
	background: #fff;
	display: none;
	border: 1px solid #222;
	z-index: 1000;
	width: 30px;
	height: 107px;
	padding: 5px;
	gap: 3px;
	position: absolute;
	left: 380px;
	top: 198px;
}
#listMenu {
	background: #fff;
	display: none;
	border: 1px solid #222;
	z-index: 1000;
	width: 30px;
	height: 85px;
	padding: 5px;
	gap: 3px;
	position: absolute;
	left: 410px;
	top: 198px;
}

#lineHeightMenu {
	text-align:center;
	background: #fff;
	display: none;
	border: 1px solid #222;
	z-index: 1000;
	width: 45px;
	height: 155px;
	padding: 5px;
	gap: 3px;
	position: absolute;
	left: 490px;
	top: 198px;
}	

#alignMenu button,
#listMenu button {
	border:none;
	display: block;
	background: #fff;
	margin: 7px 0 7px 3px;
}

#lineHeightMenu button {
	border:none;
	display: block;
	background: #fff;
	margin: 7px 0;
}

.editor-content {
	border: 1px solid #ccc;
	min-height: 300px;
}

.Notice_w_btn {
	line-height: 50px;
	display:flex;
	justify-content: flex-end;
	margin-top: 5px;
}

.Notice_w_btn button {
	text-align: center;
}