<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<div>
			<h1>공지사항</h1>
		</div>
		<div> 
			<table>
				<thead>
					<tr>
						<td><input type="checkbox"></td>
						<td>번호</td>
						<td>제목</td>
						<td>작성자</td>
						<td>작성날짜</td>
						<td>조회수</td>
					</tr>	
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table> 
			<button>등록</button>
			<button>수정</button>
			<button>삭제</button>
		</div>
	</div>
</body>
</html>